<div class="container">
<div class="card col-6 margin-center">
  <div class="card-header text-center">LogIn</div>
  <div class="card-body">
      <form #LogInInfo=ngForm>
          <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" name="email" id="email" class="form-control" [(ngModel)]=login_data.email #LogEmail="ngModel" required />
              <div *ngIf="LogEmail.touched && LogEmail.invalid">
                  <span class="text-danger">
                      Email required*
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="password" class="form-control" id="password" [(ngModel)]=login_data.password #LogPwd="ngModel"
                  required />
              <div *ngIf="LogPwd.touched && LogPwd.invalid">
                  <span class="text-danger">
                      Password required*
                  </span>
              </div>
          </div>
          <hr/>
          <div class="text-center">
              <button type="button" class="bg-info btn-lg" (click)="onLogin(LogInInfo)">Login</button>
              <br/>
              <a routerLink="/signup">Signup</a> 
              <div>
                <span class="text-danger" *ngIf="login_errors.sub_err">{{login_errors.sub_err}}</span>
              </div>
          </div>
      </form>
  </div>
</div>
</div>
<!-- </div> -->